<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail ejs</title>
</head>
<body>
    <h2><center>2023 Volkwagen options</center></h2>

    <li>id: <%= auto.id %> model:  <%= auto.model %> year:  <%= auto.year %> engine:  <%= auto.engine %> power:  <%= auto.power %></li>
    
</body>
</html>