<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail ejs</title>
</head>
<body>
    <a href="/">home page</a>  
    <h2><center>2023 Volkwagen options</center></h2>

    <li>id: <%= vehicle.id %> | model:  <%= vehicle.model %> | year:  <%= vehicle.year %> | engine:  <%= vehicle.engine %> | power:  <%= vehicle.power %> | ignition:  <%= vehicle.ignition %></li>
    
</body>
</html>